/******** fonts *****/
@font-face {
  font-family: 'ir-sans';
  src: url('../fonts/iran-sans/eot/IRANSansWeb(FaNum)_Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/iran-sans/woff/IRANSansWeb(FaNum)_Medium.woff') format('woff'), url('../fonts/iran-sans/woff2/IRANSansWeb(FaNum)_Medium.woff2') format('woff2'), url('../fonts/iran-sans/ttf/IRANSansWeb(FaNum)_Medium.ttf') format('truetype');
}
@font-face {
    font-family: fontello;
    src: url('../fonts/fontello.eot?#iefix') format('embedded-opentype'), url('../fonts/fontello.woff') format('woff'), url('../fonts/fontello.svg#webfont') format('svg'), url('../fonts/fontello.ttf') format('truetype');
}
.font-12 {
  font-size: 12px;
}
.font-14 {
  font-size: 14px;
}
.font-16 {
  font-size: 16px;
}
.font-18 {
  font-size: 18px;
}
.font-20 {
  font-size: 20px;
}
.font-24 {
  font-size: 24px;
}
/******** fonts end  *****/
/*animated scroll arrow animation*/
@-webkit-keyframes ca3_fade_move_down {
  0% {
    -webkit-transform: translate(0, -10px);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(0, 10px);
    opacity: 0;
  }
}
@-moz-keyframes ca3_fade_move_down {
  0% {
    -moz-transform: translate(0, -10px);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -moz-transform: translate(0, 10px);
    opacity: 0;
  }
}
@keyframes ca3_fade_move_down {
  0% {
    transform: translate(0, -10px);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translate(0, 10px);
    opacity: 0;
  }
}
body textarea{
  resize: none;
  line-height: 20px !important;
}
body {
  font-family: 'ir-sans';
}
body a:hover {
  text-decoration: none;
}
body .pa0 {
  padding: 0;
}
body .txt-center {
  text-align: center;
}
body main section {
  overflow: hidden;
  height: 100vh !important;
}
@media (max-width: 990px) {
  body main section {
    height: auto !important;
  }
}
body main section .half-box-img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}
@media (max-width: 990px) {
  body main section .half-box-img {
    height: auto;
  }
  body main section .half-box-img img {
    width: 100%;
      display: block !important;
  }
}
body main section .box-txt .text-section {
  margin-top: 50%;
}
@media (max-width: 990px) {
  body main section .box-txt .text-section {
    margin-top: 5%                                                     ;
  }
}
body main section .box-txt p {
  color: #424242;
}
body main section .box-txt .text-title {
  color: #7b1fa2;
  margin-bottom: 20px;
}
@media (max-width: 990px) {
  body main section .box-txt .text-title {
    text-align: center;
  }
}
body main section .box-txt .content {
  width: 80%;
  line-height: 30px;
}
@media (max-width: 990px) {
  body main section .box-txt .content {
    width: 100%;
    padding: 20px;
  }
}
body main section .pagination {
  color: #000000;
  height: 100vh;
  position: absolute;
  margin: 0;
  background-color: #f2f2f2;
  width: 70px;
  text-align: center;
  z-index: 10;
  transition-delay: 0.5s;
  transition-duration: 0.5s;
  transition-property: background-color;
}
body main section .pagination ul {
  display: table;
  width: 100%;
  height: 100%;
  padding: 0;
}
body main section .pagination ul li {
  display: block;
  height: 50vh;
  opacity: 1;
}
body main section .pagination ul li.prev a {
  justify-content: flex-start;
}
body main section .pagination ul li.prev a .scroll-up {
  background-image: url('../img/icon/arrow-black-top.png');
  width: 20px;
  height: 20px;
  margin: 0 auto;
  opacity: 1;
  animation-delay: 0.1s;
  animation-duration: 0.1s;
  animation-name: scrollup;
  animation-fill-mode: forwards;
}
body main section .pagination ul li.next a {
  justify-content: flex-end;
}
body main section .pagination ul li.next a .scroll-down {
  background-image: url('../img/icon/arrow-black-bottom.png');
  width: 20px;
  height: 20px;
  margin: 0 auto;
}
body main section .pagination ul li a {
  height: 100%;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  padding-top: 5.5vh;
  padding-bottom: 5.5vh;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  color: transparent;
  text-indent: -9999px;
  -webkit-transition: background-color 0.3s ease-out;
  -moz-transition: background-color 0.3s ease-out;
  -o-transition: background-color 0.3s ease-out;
  transition: background-color 0.3s ease-out;
}
body main section .pagination ul li a:hover {
  background-color: #00acc1;
  border-color: #00acc1;
  color: #fff;
}
body main section .pagination ul li a:hover .scroll-down {
  background-image: url('../img/icon/arrow-white-bottom.png');
}
body main section .pagination ul li a:hover .scroll-up {
  background-image: url('../img/icon/arrow-white-top.png');
}
body main section .pagination ul li a:hover p {
  color: #fff;
}
body main section .pagination ul li a p {
  font-size: 16px;
  line-height: inherit;
  transform: translate(-50%) rotate(-90deg);
  padding: 0;
  position: absolute;
  text-indent: 0;
  width: 170px;
  left: 50%;
  margin: auto;
  text-align: center;
  color: transparent;
  /* display: none; */
}
body main section .transparent {
  transition-delay: 0s;
  transition-duration: 0s;
  transition-property: background-color;
}
body main section .transparent ul li {
  height: 100vh;
}
body main section .transparent ul li a {
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}
body main section .transparent ul li a p {
  color: #00acc1;
}
body main section .transparent ul li a:hover p {
  color: #fff;
}
body main section .transparent ul li.prev {
  display: none;
}
body main section .transparent ul li.next p {
  bottom: 50% !important;
}
body main section .transparent ul li.next .scroll-down {
  background-image: url("../img/arrow-white-bottom.png");
  -webkit-animation: ca3_fade_move_down 1.5s ease-in-out infinite;
  -moz-animation: ca3_fade_move_down 1.5s ease-in-out infinite;
  animation: ca3_fade_move_down 1.5s ease-in-out infinite;
}
body main section .pages .page-content {
  padding-top: 100px;
}
@media (max-height: 800px) {
    body main section .pages .page-content {
        padding-top: 15px;
    }
    body main section .pages .page-content h2{
        font-size: 22px;
        text-align: center;
    }
    body main section .pages .page-content .request-title{
        display: none;
    }
}
body main .dark-back {
  background-color: #F8F8F8;
}
body main .back-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}
@media (max-width: 990px) {
  body main .back-image {
    height: auto;
  }
}
body main .over {
  background-color: rgba(255, 255, 255, 0.7);
  position: absolute;
  width: 100%;
  margin: 0 auto;
  height: 100vh;
}
body .button-wrapper {
  text-align: left;
}
body .button-wrapper .blue-button {
  background-color: #00acc1;
  color: #fff;
  padding: 8px 20px;
  border: none;
}
body .button-wrapper .cancel {
  background-color: #eee;
  color: #333;
  padding: 8px 20px;
  border: none;
}
body .request-form {
  padding: 50px 20px;
  background-color: #fff;
}
@media (max-height: 800px) {
    body .request-form {
        padding: 15px 20px;
    }
}
body label {
  font-weight: normal;
}
body .input-style {
  border: 2px solid #ddd;
  border-radius: 5px;
  box-shadow: none;
  line-height: 45px;
  height: 45px;
  margin-bottom: 10px;
}
@media (max-width: 990px) {
  body main:nth-of-type(1) {
    margin-top: 50px;
  }
}
body nav .navbar-brand img {
  width: 120px;
}
@media (max-width: 990px) {
  body nav .navbar-brand img {
    width: 100px;
  }
}
@media (max-width: 990px) {
  body nav .navbar-brand {
    padding: 5px 25px;
  }
}
body nav .main-menu {
  float: left;
  top: 38px;
  position: relative;
  font-size: 30px;
  cursor: pointer;
}
body nav .navbar-toggle .icon-bar {
  background-color: #000;
}
body footer {
  background-color: #2a2a2a;
  color: #fff;
}
body footer .footer-items {
  padding: 50px 0;
}
@media (max-width: 990px) {
  body footer .footer-items {
    text-align: center;
  }
}
body footer .footer-items .links ul {
  padding: 0;
  margin: 0;
}
body footer .footer-items .links ul li {
  list-style: none;
  margin-bottom: 10px;
}
body footer .footer-items .links ul li a {
  color: #fff;
}
body footer .footer-items p {
  width: 300px;
}
@media (max-width: 990px) {
  body footer .footer-items p {
    width: 100%;
    margin-bottom: 20px;
  }
}
body footer .copy-right {
  background-color: #00acc1;
  color: #fff;
  text-align: center;
  padding: 15px 0;
}
body .socials {
  text-align: left;
}
body .socials ul {
  padding: 0;
  margin-top: 15%;
}
body .socials ul li {
  list-style: none;
  margin: 10px ;
  display: inline-block;
}
body .socials ul li a {
  color: #fff;
  background: #00acc1;
  padding: 5px 12px;
  height: 45px;
  text-align: center;
  width: 45px;
  display: block;
}
body .socials ul li a img{
  width: 25px;
  padding-top: 5px ;
}
@media (max-width: 990px) {
  body .socials ul {
    margin-top: 5%;
  }
}
@media (max-width: 990px) {
  body .socials {
    text-align: center;
  }
}
body .sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 30px;
  text-align: center;
}
body .sidenav .menu-list ul {
  padding: 0;
  margin-top: 40%;
}
@media (max-width: 990px) {
  body .sidenav .menu-list ul {
    padding-right: 30%;
    margin-top: 30%;
  }
}
body .sidenav .menu-list ul li {
  list-style: none;
  margin-bottom: 15px;
  text-align: right;
}
body .sidenav .menu-list ul li a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 40px;
  color: #7b1fa2;
  transition: 0.3s;
}
body .sidenav .menu-list ul li a:hover {
  color: #f1f1f1;
}
body .sidenav .menu-list ul li a::before {
  border-radius: 100%;
  content: '';
  background: #7b1fa2;
  color: #fff;
  padding: 2px;
  border: none;
  text-align: center;
  width: 10px;
  height: 10px;
  margin-left: 20px;
  display: inline-block;
}
@media screen and (max-width: 990px) {
  body .sidenav .menu-list ul li a {
    font-size: 22px;
  }
}
body .sidenav .menu-list ul.menu-list {
  list-style-type: circle;
}
body .sidenav p {
  color: #fff;
}
body .sidenav .menu-contact-info {
  text-align: right;
  padding-right: 24%;
  margin-top: 40%;
}
body .sidenav .closebtn {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 50px;
  color: #fff;
}
@media screen and (max-width: 990px) {
  body .sidenav .closebtn {
    top: -8px;
    left: 10px;
    font-size: 40px;
  }
}
body .sidenav .navbar-brand {
  padding: 0;
}
body .sidenav .navbar-brand img {
  width: 120px;
}
@media screen and (max-width: 990px) {
  body .sidenav .navbar-brand img {
    width: 100px;
  }
}
body .sidenav .socials ul {
  margin-top: 20px;
}
@media screen and (max-width: 990px) {
  body .sidenav {
    padding-top: 15px;
  }
}

.date input{
  width: 30% !important;
  display: inline;
  direction: ltr;
  text-align: center;
}
.date span{
  margin-left: 10px;
}
.date label{
  width: 100% !important;
}
.date .date-margin{
  margin-left: 10px;
}
@media screen and (max-width: 1330px) {
  .date  .date-margin{
    margin-left: 0;
  }
}

.ms-parent{
  width: 100% !important;
}
.ms-choice{
  border: 2px solid #ddd;
  border-radius: 5px;
  box-shadow: none;
  line-height: 45px;
  height: 45px;
  margin-bottom: 10px;
  text-align: right;
}

.ms-choice > div{
  top: 10px;
  left: 10px;
  right: auto;
  background: url(../img/icon/multiple-select.png) left top no-repeat;
}

.modal-body{
    padding:50px 50px 100px;
}
.modal-body p{
    margin-bottom: 30px;
}
.ms-drop ul li span{
    margin-right: 10px;
}
.filed-box{
  min-height: 120px;
  max-height: 120px;
}
.errorItem ul{
  color: red;
}